* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 20px; }

.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(purple, white); }

header {
  height: 20vh;
  width: 100%; }

.background {
  height: 20vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  border-radius: 0 50% 50% 0; }
  .background .logo {
    width: 5em;
    height: 6em; }

.menu-nav {
  top: 2em;
  margin-right: 3em;
  height: 20vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: baseline; }
  .menu-nav ul {
    margin: 0 5em;
    display: flex;
    justify-content: flex-end;
    flex: 1 2 auto; }
    .menu-nav ul li {
      text-align: center;
      margin: 1em; }

span {
  display: none; }
